<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>探访人员信息</title>
</head>

<body>
    <div>
        <form>
            <label for="tanjian">探监人员身份证号:</label>
            <br />
            <input type="text" id="tanjian" />
        </form>

    </div>
    <div>
        <span>基本信息</span>
        <span>探监记录</span>
        <span>建设性管教方案</span>
        <span>特殊信息</span>

    </div>
</body>

</html>